@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Font Classes */
.font-inter {
  font-family: var(--font-inter), sans-serif !important;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif !important;
}

.font-open-sans {
  font-family: var(--font-open-sans), sans-serif !important;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif !important;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif !important;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif !important;
}

.font-plus-jakarta-sans {
  font-family: var(--font-plus-jakarta-sans), sans-serif !important;
}

/* Ensure font inheritance */
body {
  font-family: inherit;
}

* {
  font-family: inherit;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-aurora: aurora 60s linear infinite;
  --sidebar-selected-bg: #eaecfa;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}

/* Red Theme */
.red {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.637 0.237 25.331);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.637 0.237 25.331);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.637 0.237 25.331);
}

.dark.red {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.637 0.237 25.331);
  --primary-foreground: oklch(0.971 0.013 17.38);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.637 0.237 25.331);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.637 0.237 25.331);
  --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.637 0.237 25.331);
}


/* Rose Theme */
.rose {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}

.dark.rose{
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.645 0.246 16.439);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.645 0.246 16.439);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.645 0.246 16.439);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.645 0.246 16.439);
}


/* Orange Theme */
.orange {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.213 47.604);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.705 0.213 47.604);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.213 47.604);
}

.dark.orange {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.646 0.222 41.116);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.646 0.222 41.116);
}


/* Green Theme */
.green {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.723 0.219 149.579);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.723 0.219 149.579);
}

.dark.green {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.696 0.17 162.48);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.527 0.154 150.069);
}


/* Blue Theme */
.blue {
  --primary: oklch(0.398 0.07 227.392);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --ring: oklch(0.398 0.07 227.392);
  --sidebar-primary: oklch(0.398 0.07 227.392);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-ring: oklch(0.398 0.07 227.392);
}

.dark.blue {
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.969 0.015 12.422);
  --ring: oklch(0.488 0.243 264.376);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.969 0.015 12.422);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

.blue {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark.blue {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.379 0.146 265.522);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}


/* Yellow Theme */
.yellow {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.795 0.184 86.047);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.795 0.184 86.047);
}

.dark.yellow {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.554 0.135 66.442);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.554 0.135 66.442);
}


/* Violet Theme */
.violet {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.606 0.25 292.717);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.606 0.25 292.717);
}

.dark.violet {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.541 0.281 293.009);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.541 0.281 293.009);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Prevent validation triggers during theme changes */
  input:not(:focus):not(:invalid) {
    @apply border-input;
  }
}

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23ddd%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h133.333v133.333H0zM133.333 0h133.333v133.333H133.333zM266.667 0H400v133.333H266.667zM400 0h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22%23ddddddfa%22 d=%22M533.333 0h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M666.667 0H800v133.333H666.667zM800 0h133.333v133.333H800zM933.333 0h133.333v133.333H933.333zM1066.667 0H1200v133.333h-133.333zM1200 0h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%23dddddd61%22 d=%22M1333.333 0h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddc3%22 d=%22M1466.667 0H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 0h133.333v133.333H1600zM1733.333 0h133.333v133.333h-133.333zM1866.667 0H2000v133.333h-133.333zM0 133.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22%23dddddd84%22 d=%22M133.333 133.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%23dddddde4%22 d=%22M266.667 133.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%23ddddddf6%22 d=%22M400 133.333h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 133.333h133.333v133.333H533.333zM666.667 133.333H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%23ddddddb0%22 d=%22M800 133.333h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 133.333h133.333v133.333H933.333zM1066.667 133.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddbf%22 d=%22M1200 133.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%23ddddddb6%22 d=%22M1333.333 133.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 133.333H1600v133.333h-133.333zM1600 133.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%23dddddd4c%22 d=%22M1733.333 133.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 133.333H2000v133.333h-133.333zM0 266.667h133.333V400H0zM133.333 266.667h133.333V400H133.333zM266.667 266.667H400V400H266.667zM400 266.667h133.333V400H400zM533.333 266.667h133.333V400H533.333z%22%2F%3E%3Cpath fill=%22%23ddddddab%22 d=%22M666.667 266.667H800V400H666.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 266.667h133.333V400H800zM933.333 266.667h133.333V400H933.333z%22%2F%3E%3Cpath fill=%22%23ddddddab%22 d=%22M1066.667 266.667H1200V400h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 266.667h133.333V400H1200z%22%2F%3E%3Cpath fill=%22%23ddddddca%22 d=%22M1333.333 266.667h133.333V400h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddc5%22 d=%22M1466.667 266.667H1600V400h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 266.667h133.333V400H1600zM1733.333 266.667h133.333V400h-133.333zM1866.667 266.667H2000V400h-133.333zM0 400h133.333v133.333H0zM133.333 400h133.333v133.333H133.333zM266.667 400H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%23dddddd1a%22 d=%22M400 400h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 400h133.333v133.333H533.333zM666.667 400H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%23dddddd1b%22 d=%22M800 400h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%23dddddd02%22 d=%22M933.333 400h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1066.667 400H1200v133.333h-133.333zM1200 400h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%23dddddd3c%22 d=%22M1333.333 400h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 400H1600v133.333h-133.333zM1600 400h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%23dddddd83%22 d=%22M1733.333 400h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 400H2000v133.333h-133.333zM0 533.333h133.333v133.333H0zM133.333 533.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%23dddddd4c%22 d=%22M266.667 533.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 533.333h133.333v133.333H400zM533.333 533.333h133.333v133.333H533.333zM666.667 533.333H800v133.333H666.667zM800 533.333h133.333v133.333H800zM933.333 533.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%23dddddd77%22 d=%22M1066.667 533.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 533.333h133.333v133.333H1200zM1333.333 533.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23dddddddd%22 d=%22M1466.667 533.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 533.333h133.333v133.333H1600zM1733.333 533.333h133.333v133.333h-133.333zM1866.667 533.333H2000v133.333h-133.333zM0 666.667h133.333V800H0zM133.333 666.667h133.333V800H133.333zM266.667 666.667H400V800H266.667zM400 666.667h133.333V800H400zM533.333 666.667h133.333V800H533.333zM666.667 666.667H800V800H666.667zM800 666.667h133.333V800H800zM933.333 666.667h133.333V800H933.333z%22%2F%3E%3Cpath fill=%22%23dddddd7f%22 d=%22M1066.667 666.667H1200V800h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 666.667h133.333V800H1200z%22%2F%3E%3Cpath fill=%22%23ddddddaa%22 d=%22M1333.333 666.667h133.333V800h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 666.667H1600V800h-133.333zM1600 666.667h133.333V800H1600z%22%2F%3E%3Cpath fill=%22%23dddddd94%22 d=%22M1733.333 666.667h133.333V800h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 666.667H2000V800h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddd5%22 d=%22M0 800h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 800h133.333v133.333H133.333zM266.667 800H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%23dddddda4%22 d=%22M400 800h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 800h133.333v133.333H533.333zM666.667 800H800v133.333H666.667zM800 800h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%23dddddd59%22 d=%22M933.333 800h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1066.667 800H1200v133.333h-133.333zM1200 800h133.333v133.333H1200zM1333.333 800h133.333v133.333h-133.333zM1466.667 800H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23dddddd2c%22 d=%22M1600 800h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1733.333 800h133.333v133.333h-133.333zM1866.667 800H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23dddddd9d%22 d=%22M0 933.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 933.333h133.333v133.333H133.333zM266.667 933.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%23dddddd59%22 d=%22M400 933.333h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 933.333h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22%23dddddd0c%22 d=%22M666.667 933.333H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 933.333h133.333v133.333H800zM933.333 933.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%23ddddddb1%22 d=%22M1066.667 933.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 933.333h133.333v133.333H1200zM1333.333 933.333h133.333v133.333h-133.333zM1466.667 933.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddbf%22 d=%22M1600 933.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%23dddddd33%22 d=%22M1733.333 933.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 933.333H2000v133.333h-133.333zM0 1066.667h133.333V1200H0zM133.333 1066.667h133.333V1200H133.333zM266.667 1066.667H400V1200H266.667zM400 1066.667h133.333V1200H400zM533.333 1066.667h133.333V1200H533.333zM666.667 1066.667H800V1200H666.667z%22%2F%3E%3Cpath fill=%22%23dddddd01%22 d=%22M800 1066.667h133.333V1200H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 1066.667h133.333V1200H933.333zM1066.667 1066.667H1200V1200h-133.333zM1200 1066.667h133.333V1200H1200zM1333.333 1066.667h133.333V1200h-133.333zM1466.667 1066.667H1600V1200h-133.333zM1600 1066.667h133.333V1200H1600zM1733.333 1066.667h133.333V1200h-133.333zM1866.667 1066.667H2000V1200h-133.333zM0 1200h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22%23dddddd6a%22 d=%22M133.333 1200h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M266.667 1200H400v133.333H266.667zM400 1200h133.333v133.333H400zM533.333 1200h133.333v133.333H533.333zM666.667 1200H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%23dddddd5e%22 d=%22M800 1200h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 1200h133.333v133.333H933.333zM1066.667 1200H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddf8%22 d=%22M1200 1200h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%23ddddddb1%22 d=%22M1333.333 1200h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23dddddd14%22 d=%22M1466.667 1200H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 1200h133.333v133.333H1600zM1733.333 1200h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23ddddddff%22 d=%22M1866.667 1200H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23dddddd7b%22 d=%22M0 1333.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 1333.333h133.333v133.333H133.333zM266.667 1333.333H400v133.333H266.667zM400 1333.333h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22%23ddddddc2%22 d=%22M533.333 1333.333h133.333v133.333H533.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M666.667 1333.333H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%23dddddd48%22 d=%22M800 1333.333h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%23dddddd94%22 d=%22M933.333 1333.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1066.667 1333.333H1200v133.333h-133.333zM1200 1333.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%23dddddd90%22 d=%22M1333.333 1333.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 1333.333H1600v133.333h-133.333zM1600 1333.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%23dddddd58%22 d=%22M1733.333 1333.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 1333.333H2000v133.333h-133.333z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2240%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.6%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.dark .magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23444%22 stroke-width=%221.2%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22%2344444444%22 d=%22M133.333 0h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M266.667 0H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%234444443a%22 d=%22M400 0h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 0h133.333v133.333H533.333zM666.667 0H800v133.333H666.667zM800 0h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%2344444406%22 d=%22M933.333 0h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1066.667 0H1200v133.333h-133.333zM1200 0h133.333v133.333H1200zM1333.333 0h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23444444a5%22 d=%22M1466.667 0H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 0h133.333v133.333H1600zM1733.333 0h133.333v133.333h-133.333zM1866.667 0H2000v133.333h-133.333zM0 133.333h133.333v133.333H0zM133.333 133.333h133.333v133.333H133.333zM266.667 133.333H400v133.333H266.667zM400 133.333h133.333v133.333H400zM533.333 133.333h133.333v133.333H533.333zM666.667 133.333H800v133.333H666.667zM800 133.333h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%2344444475%22 d=%22M933.333 133.333h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%23444444a2%22 d=%22M1066.667 133.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23444444b7%22 d=%22M1200 133.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%2344444409%22 d=%22M1333.333 133.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 133.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2344444438%22 d=%22M1600 133.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1733.333 133.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2344444432%22 d=%22M1866.667 133.333H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 266.667h133.333V400H0zM133.333 266.667h133.333V400H133.333zM266.667 266.667H400V400H266.667z%22%2F%3E%3Cpath fill=%22%2344444484%22 d=%22M400 266.667h133.333V400H400z%22%2F%3E%3Cpath fill=%22%234444448f%22 d=%22M533.333 266.667h133.333V400H533.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M666.667 266.667H800V400H666.667z%22%2F%3E%3Cpath fill=%22%2344444491%22 d=%22M800 266.667h133.333V400H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 266.667h133.333V400H933.333zM1066.667 266.667H1200V400h-133.333zM1200 266.667h133.333V400H1200z%22%2F%3E%3Cpath fill=%22%234444448e%22 d=%22M1333.333 266.667h133.333V400h-133.333z%22%2F%3E%3Cpath fill=%22%2344444435%22 d=%22M1466.667 266.667H1600V400h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 266.667h133.333V400H1600zM1733.333 266.667h133.333V400h-133.333zM1866.667 266.667H2000V400h-133.333z%22%2F%3E%3Cpath fill=%22%2344444409%22 d=%22M0 400h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 400h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%234444445c%22 d=%22M266.667 400H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%2344444427%22 d=%22M400 400h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 400h133.333v133.333H533.333zM666.667 400H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%2344444418%22 d=%22M800 400h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%2344444467%22 d=%22M933.333 400h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%23444444b6%22 d=%22M1066.667 400H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2344444454%22 d=%22M1200 400h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1333.333 400h133.333v133.333h-133.333zM1466.667 400H1600v133.333h-133.333zM1600 400h133.333v133.333H1600zM1733.333 400h133.333v133.333h-133.333zM1866.667 400H2000v133.333h-133.333zM0 533.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22%23444444aa%22 d=%22M133.333 533.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M266.667 533.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%23444444d7%22 d=%22M400 533.333h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 533.333h133.333v133.333H533.333zM666.667 533.333H800v133.333H666.667zM800 533.333h133.333v133.333H800zM933.333 533.333h133.333v133.333H933.333zM1066.667 533.333H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23444444ef%22 d=%22M1200 533.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1333.333 533.333h133.333v133.333h-133.333zM1466.667 533.333H1600v133.333h-133.333zM1600 533.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2344444440%22 d=%22M1733.333 533.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%234444449c%22 d=%22M1866.667 533.333H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 666.667h133.333V800H0zM133.333 666.667h133.333V800H133.333zM266.667 666.667H400V800H266.667zM400 666.667h133.333V800H400zM533.333 666.667h133.333V800H533.333zM666.667 666.667H800V800H666.667zM800 666.667h133.333V800H800zM933.333 666.667h133.333V800H933.333zM1066.667 666.667H1200V800h-133.333zM1200 666.667h133.333V800H1200zM1333.333 666.667h133.333V800h-133.333zM1466.667 666.667H1600V800h-133.333zM1600 666.667h133.333V800H1600zM1733.333 666.667h133.333V800h-133.333zM1866.667 666.667H2000V800h-133.333zM0 800h133.333v133.333H0zM133.333 800h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%234444443d%22 d=%22M266.667 800H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 800h133.333v133.333H400zM533.333 800h133.333v133.333H533.333zM666.667 800H800v133.333H666.667zM800 800h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22%2344444453%22 d=%22M933.333 800h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1066.667 800H1200v133.333h-133.333zM1200 800h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%23444444ab%22 d=%22M1333.333 800h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%234444446b%22 d=%22M1466.667 800H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 800h133.333v133.333H1600zM1733.333 800h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2344444401%22 d=%22M1866.667 800H2000v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%23444444fc%22 d=%22M0 933.333h133.333v133.333H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M133.333 933.333h133.333v133.333H133.333zM266.667 933.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22%23444444f3%22 d=%22M400 933.333h133.333v133.333H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M533.333 933.333h133.333v133.333H533.333zM666.667 933.333H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%2344444465%22 d=%22M800 933.333h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 933.333h133.333v133.333H933.333zM1066.667 933.333H1200v133.333h-133.333zM1200 933.333h133.333v133.333H1200zM1333.333 933.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%2344444434%22 d=%22M1466.667 933.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 933.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2344444402%22 d=%22M1733.333 933.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 933.333H2000v133.333h-133.333zM0 1066.667h133.333V1200H0zM133.333 1066.667h133.333V1200H133.333zM266.667 1066.667H400V1200H266.667zM400 1066.667h133.333V1200H400zM533.333 1066.667h133.333V1200H533.333zM666.667 1066.667H800V1200H666.667z%22%2F%3E%3Cpath fill=%22%2344444470%22 d=%22M800 1066.667h133.333V1200H800z%22%2F%3E%3Cpath fill=%22%234444446d%22 d=%22M933.333 1066.667H1066.667V1200H933.333z%22%2F%3E%3Cpath fill=%22%234444442f%22 d=%22M1066.667 1066.667H1200V1200H1066.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1066.667h133.333V1200H1200z%22%2F%3E%3Cpath fill=%22%23444444bb%22 d=%22M1333.333 1066.667h133.333V1200H1333.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1466.667 1066.667H1600V1200h-133.333zM1600 1066.667h133.333V1200H1600zM1733.333 1066.667h133.333V1200h-133.333zM1866.667 1066.667H2000V1200h-133.333zM0 1200h133.333v133.333H0zM133.333 1200h133.333v133.333H133.333zM266.667 1200H400v133.333H266.667zM400 1200h133.333v133.333H400zM533.333 1200h133.333v133.333H533.333zM666.667 1200H800v133.333H666.667z%22%2F%3E%3Cpath fill=%22%23444444e6%22 d=%22M800 1200h133.333v133.333H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M933.333 1200h133.333v133.333H933.333z%22%2F%3E%3Cpath fill=%22%2344444472%22 d=%22M1066.667 1200H1200v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1200h133.333v133.333H1200zM1333.333 1200h133.333v133.333h-133.333zM1466.667 1200H1600v133.333h-133.333zM1600 1200h133.333v133.333H1600zM1733.333 1200h133.333v133.333h-133.333zM1866.667 1200H2000v133.333h-133.333zM0 1333.333h133.333v133.333H0zM133.333 1333.333h133.333v133.333H133.333z%22%2F%3E%3Cpath fill=%22%23444444ef%22 d=%22M266.667 1333.333H400v133.333H266.667z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 1333.333h133.333v133.333H400zM533.333 1333.333h133.333v133.333H533.333zM666.667 1333.333H800v133.333H666.667zM800 1333.333h133.333v133.333H800zM933.333 1333.333h133.333v133.333H933.333zM1066.667 1333.333H1200v133.333h-133.333zM1200 1333.333h133.333v133.333H1200z%22%2F%3E%3Cpath fill=%22%234444446c%22 d=%22M1333.333 1333.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22%234444446e%22 d=%22M1466.667 1333.333H1600v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 1333.333h133.333v133.333H1600z%22%2F%3E%3Cpath fill=%22%2344444489%22 d=%22M1733.333 1333.333h133.333v133.333h-133.333z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1866.667 1333.333H2000v133.333h-133.333z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2240%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.6%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

/* Custom utility for full width grid wrapper */
.grid-full-wrapper {
  @apply w-full px-2 sm:px-4 md:px-8;
}
